body{
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
}

.title{
    font-size: 46px;
}

.sub-title{
    font-size: 30px;
       
}

.container{
    width: auto;   
}

.center{
	text-align: center;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
	font-family: "Source Sans Pro";
}